<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Recipes</title>
</head>
<body>
<h1>My Recipes!!!</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">Description</th>
        <th style="width: 150px;">Difficulty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe: ${recipes}">
        <td th:text="${recipe.id}">1</td>
        <td th:text="${recipe.description}">Joe</td>
        <td th:text="${recipe.difficulty}">Buck</td>
    </tr>
    </tbody>
</table>
<!--<p th:each=>
    <span th:text=>recipeId</span> <br>
    <span th:text="${recipe.description}">recipeId</span><br>
    <b>Cook Time: </b> <span th:text="${recipe.prepTime}">recipeId</span><br>
    <b>Serves: </b><span th:text="${recipe.serving}">recipeId</span><br>
    <b>Source: </b><span th:text="${recipe.source}">recipeId</span><br>
    <b>URL: </b><span th:text="${recipe.url}">recipeId</span><br>
    <b>Difficulty: </b><span th:text=>recipeId</span><br>
    <b>Direction: </b><span th:text=>recipeId</span><br>
</p>
<p th:each="ingredient: ${recipe.ingredients}">
    <span th:text="${ingredient.desciption}">recipeId</span>
    <span th:text="${ingredient.amount}">recipeId</span>
    <span th:text="${uom.description}">recipeId</span>
</p> -->
</body>
</html>